@media screen and (max-width: 700px) {
  main {
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
  }
  .image > img {
    height: 17rem;
    width: 17rem;
    margin-top: 0rem;
  }
  .information > h5 {
    font-size: 1.4rem;
  }
  .information > h1 {
    font-size: 2rem;
  }
  .information > h3 {
    font-size: 1.2rem;
    /* margin: 0; */
  }
  .downloads > a {
    padding: 0.5rem;
    font-size: 0.9rem;

    .downloads > a:hover {
      background-color: black;
    }
  }
}
